Flask
python-dotenv
gunicorn
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Werkzeug
Authlib

openai
groq
google-generativeai

langchain
langgraph

pydantic
requests
beautifulsoup4
docker

# sentence-transformers
# faiss-cpu
# torch
# scikit-learn
# scipy